$timelineHeight: 70px;
$playPauseSize: 30px;
$viewHeight: calc(100vh - #{$timelineHeight});
$contentWidth: 48vw;
$stageWidth: 52vw;
$stageHeight: calc(100vh - #{$timelineHeight - ($timelineHeight / 2)});
